.header {
  display: flex;
  flex-direction: column;
  position: relative;
  align-content: flex-start;
  padding: 30px 0 40px;
  background-color: #ffffff;
  background-image: url("../images/background_header.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  min-height: 720px;
  max-height: 800px;
}

.logo {
  width: 105px;
}

.nav {
  margin: 0 26px 0 30px;
  display: flex;
  justify-content: space-between;
}

.nav__links {
  display: flex;
  gap: 20px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-link {
  text-decoration: none;
  font-weight: 500;
  color: black;
}

.nav-link:hover {
  color: #ff976b;
}

.header-title {
  display: flex;
  position: relative;
  flex-direction: column;
  left: 80px;
  font-weight: 500;
  font-size: 58px;
  line-height: 72px;
  letter-spacing: -1px;
  margin: 183px 0 28px;
  max-width: 709px;
}

.span-accent {
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: italic;
  font-weight: normal;
  color: #ff976b;
}

.header-description {
  position: relative;
  left: 80px;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-size: 20px;
  line-height: 30px;
  margin: 0;
  max-width: 683px;
  width: 100%;
}

.header-image {
  position: absolute;
  top: 124px;
  right: 5px;
  width: 646px;
}

.header-info {
  font-weight: 500;
  margin-top: auto;
  padding: 0 80px;
  display: flex;
  justify-content: space-between;
  color: #6f6f6f;
  width: 100%;
}

.info-text {
  align-content: flex-end;
  margin: 0;
}
